.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #3ba83b;
    font-size:34px;
    height: 65px;
    width: 456px;
    margin-bottom: 16px;
}

button{
    border-radius: 20px;
    font-size: 35px;
    background: linear-gradient(217deg, rgba(72, 178, 204, 0.8), rgba(209, 235, 65, 0) 70.71%);
    width: 88px;
    height: 63px;
    margin: 6px;
}
button::before{
    content: '';
}

.calculator{ 
    border: 4px solid #13695d;
    background: linear-gradient(rgba(92, 221, 156, 1.8), rgba(74, 184, 129, 0) 90.71%);
    padding: 23px;
    border-radius: 53px;
    height: 90%;
    display: inline-block;
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
